/Estrutura de Dados/Pilha_Ex2/nbproject/private/
/Estrutura de Dados/Pilha_Ex1/nbproject/private/
/Estrutura de Dados/Pilha_Ex2/build/
/Estrutura de Dados/Fila/nbproject/private/
/Estrutura de Dados/Fila_Ex2/nbproject/private/
/Estrutura de Dados/Fila_Ex1/nbproject/private/
/Estrutura de Dados/Fila_Ex1/build/
/Estrutura de Dados/Fila_Ex2/build/
/Estrutura de Dados/Fila/build/
/Estrutura de Dados/Trabalho-ED/nbproject/private/
/Estrutura de Dados/Trabalho-ED/build/
