[submodule "Desenvolvimento-para-Dispositivos-Moveis/SafeK8s"]
	path = Desenvolvimento para Dispositivos Móveis/SafeK8s
	url = https://github.com/r1yck/SafeK8s
[submodule "Desenvolvimento Web"]
	path = Desenvolvimento Web
	url = https://github.com/r1yck/Projeto-Filme
